<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Students</title>
</head>
<body>
	<select>
		<option th:each="group: ${groups}" th:text="${groups.number}"/>
	</select>
	<table>
		<tr>
			<th>Full Name</th>
			<th>Email Address</th>
			<th>Phone Number</th>
		</tr>
		<tr th:each="student: ${students}">
			<td th:text="${student.firstName} ${student.lastName}"></td>
			<td th:text="${student.email}"></td>
			<td th:text="${student.phone}"></td>
		</tr>
	</table>
</body>
</html>