<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Courses</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/send-enrollment-request-button.js"></script>
<script src="/js/cancel-enrollment-request-button.js"></script>
<script src="/js/unenrol-from-course-button.js"></script>
</head>
<body>
	<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Credits</th>
			<th>Status</th>
		</tr>
		<tr th:each="enrollment: ${enrollments}">
			<td th:text="${enrollment.course.name}"></td>
			<td th:text="${enrollment.course.credits}"></td>
			<td th:text="${enrollment.status}"></td>
			<div th:if="${enrollment.status == 'Unenrolled'}">
				<td><button class="enrollment-request-button" th:onclick="'sendEnrollmentRequest(' + ${enrollment.student.id} + ', ' + ${enrollment.course.id} + ')'">Send Enrollment Request</button></td>
			</div>
			<div th:if="${enrollment.status == 'Accepted'}">
				<td><button class="unenrol-from-course-button" th:onclick="'unenrolFromCourse(' + ${enrollment.student.id} + ', ' + ${enrollment.course.id} + ')'">Unenrol From Course</button></td>
			</div>
			<div th:if="${enrollment.status == 'Cancelled'}">
				<td><button class="enrollment-request-button" th:onclick="'sendEnrollmentRequest(' + ${enrollment.student.id} + ', ' + ${enrollment.course.id} + ')'">Send Enrollment Request</button></td>
			</div>
			<div th:if="${enrollment.status == 'Request'}">
				<td><button class="cancel-enrollment-request-button" th:onclick="'cancelEnrollmentRequest(' + ${enrollment.student.id} + ', ' + ${enrollment.course.id} + ')'">Cancel Request</button></td>
			</div>
		</tr>
	</table>
</body>
</html>